django:
  image:
    repository: ghcr.io/frikanalen/django-api
    tag: latest
    pullPolicy: IfNotPresent
  secretName: django-secret

nginx:
  image:
    repository: nginx
    tag: latest
    pullPolicy: IfNotPresent

database:
  image:
    repository: postgres
    tag: "16"
    pullPolicy: IfNotPresent
  kubegresName: django-postgres
  databaseName: fkweb
  configMapName: django-postgres-conf
  user: fkweb
  secret: django-postgres-passwords
  port: "5432"
  size: 200Mi
  replicas: "1"

memcached:
  image:
    repository: memcached
    tag: 1.6-alpine
    pullPolicy: IfNotPresent

env:
  DJANGO_SETTINGS_MODULE: fkweb.settings.production
  ALLOWED_HOSTS: beta.frikanalen.no
  CSRF_TRUSTED_ORIGINS: https://beta.frikanalen.no

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik
  hosts:
  - host: beta.frikanalen.no
    paths:
    - path: /admin
      serviceName: django-api
      servicePort: 8080
    - path: /api
      serviceName: django-api
      servicePort: 8080
    - path: /static
      serviceName: django-api
      servicePort: 80
    - path: /xmltv
      serviceName: django-api
      servicePort: 8080
