apiVersion: batch/v1
kind: CronJob
metadata:
  name: fill-next-weeks-agenda
spec:
  schedule: "00 22 * * *"
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: django-api
        spec:
          restartPolicy: OnFailure
          containers:
            - name: django
              image: {{ .Values.image.django }}
              args:
                - ./manage.py
                - fill_next_weeks_agenda
                - -v
                - '2'
              env:
                {{- include "django.env" . | nindent 16 }}
