apiVersion: batch/v1
kind: Job
metadata:
  name: django-migrations
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": hook-succeeded
    "helm.sh/hook-weight": "-1"
spec:
  template:
    metadata:
      name: django-migrations
      labels:
        app: django-api
    spec:
      restartPolicy: OnFailure
      containers:
        - name: loaddata
          image: "{{ .Values.django.image.repository }}:{{ .Values.django.image.tag }}"
          imagePullPolicy: Always
          command: ["python", "manage.py", "migrate"]
          env:
            {{- include "django.env" . | nindent 12 }}
