apiVersion: apps/v1
kind: Deployment
metadata:
  name: django
spec:
  selector:
    matchLabels:
      app: django-api
  minReadySeconds: 5
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        app: django-api
    spec:
      containers:
        - name: django
          image: {{ .Values.image.django }}
          env:
            - name: CSRF_TRUSTED_ORIGINS
              value: {{ .Values.env.CSRF_TRUSTED_ORIGINS }}
            {{- include "django.env" . | nindent 12 }}
          ports:
            - name: http-api
              containerPort: 8080
          volumeMounts:
            - mountPath: /collected_staticfiles
              name: static-files
        - name: nginx
          image: {{ .Values.image.nginx }}
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              readOnly: true
              name: nginx-conf
            - mountPath: /usr/share/nginx/html
              name: static-files
          ports:
            - name: http-static
              containerPort: 80
      volumes:
        - name: static-files
          emptyDir: {}
        - name: nginx-conf
          configMap:
            name: nginx-conf
            items:
              - key: site.conf
                path: site.conf

