{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: django-api
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.ingress.hostname }}
      http:
        paths:
          - path: /admin
            pathType: Prefix
            backend:
              service:
                name: django-api
                port:
                  number: 8080
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: django-api
                port:
                  number: 8080
          - path: /static
            pathType: Prefix
            backend:
              service:
                name: django-api
                port:
                  number: 80
          - path: /xmltv
            pathType: Prefix
            backend:
              service:
                name: django-api
                port:
                  number: 8080
  tls:
    - hosts:
        - {{ .Values.ingress.hostname }}
{{- end }}
