name: Django API service

on:
  push:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write
  packages: write # Needed to push to ghcr.io

jobs:
  build:
    name: Build and push Docker image to GHCR
    runs-on: ubuntu-latest

    steps:
      - name: Release PR or GitHub Release

        uses: google-github-actions/release-please-action@v4
        id: release
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          release-type: python

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/frikanalen/django-api
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=tag
            type=ref,event=branch
            type=raw,value=${{ steps.release.outputs.tag_name }},enable=${{ github.ref == 'refs/heads/main' && steps.release.outputs.release_created == 'true' }}
            type=sha

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and (if not PR) push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
